

<div class='content'>
  <div class='card'>
    <div>
      <h4>Тест №</h4>
      <p class='mini__text'>Перехід через Йордан</p>

    </div>
    <div>
      <a href='/test1' class='myButton'>Тестування</a>
    </div>
  </div>

  <div class='card'>
    <div>
      <h4>Тест №1</h4>
      <p class='mini__text'>Перехід через Йордан</p>

    </div>
    <div>
      <a href='#' class='myButton'>Тестування</a>
    </div>
  </div>

  <div class='card'>
    <div>
      <h4>Тест №1</h4>
      <p class='mini__text'>Перехід через Йордан</p>

    </div>
    <div>
      <a href='#' class='myButton'>Тестування</a>
    </div>
  </div>

  <div class='card'>
    <div>
      <h4>Тест №1</h4>
      <p class='mini__text'>Перехід через Йордан</p>

    </div>
    <div>
      <a href='#' class='myButton'>Тестування</a>
    </div>
  </div>
</div>