<div class='col-12'>
  <div class='nav nav-tabs'>
    <div class='nav-item'>
      <a href='#' class='nav-link active'>Main</a>
    </div>

    <div class='nav-item'>
      <a href='' class='nav-link'>Bible Tests</a>
    </div>

    <div class='nav-item'>
      <a href='#' class='nav-link disabled'>Settings</a>
    </div>
  </div>
</div>