{{!-- 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <header>
    <center>
      <div>
        
      </div>
    </center>
    <hr>
  </header>

  <body>
      
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}
    {{> footer}}
    <script src="https://kit.fontawesome.com/0d4f1d1763.js" crossorigin="anonymous"></script>
  </body>

</html>